<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="dashboard-tile">
                <app-tab></app-tab>
            </div>
            <div class="dashboard-tile">
                <app-library></app-library>
            </div>
        </div>
        <div class="col-10">
            <div class="dashboard-tile">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<footer class="fixed-bottom dashboard-tile">
        <app-player></app-player>
</footer>