<div class="d-flex justify-content-between p-4">
    <div>
        <button mat-mini-fab class="me-2 text-white black-button ps-2">
            <mat-icon aria-hidden="false" aria-label="Previous Page Icon">arrow_back_ios</mat-icon>
        </button>
        <button mat-mini-fab class="text-white black-button ps-1">
            <mat-icon aria-hidden="false" aria-label="Next Page Icon">arrow_forward_ios</mat-icon>
        </button>
    </div>
    <div>
        <button mat-flat-button class="me-2 white-button text-black round-button">Explore Premium</button>
        <button mat-flat-button class="me-2 black-button round-button">
            <mat-icon aria-hidden="false" aria-label="Install Icon">download</mat-icon>
            <span>Install Apps</span>
        </button>
        <button mat-mini-fab class="me-2 text-white black-button">
            <mat-icon aria-hidden="false" aria-label="Notifications Icon">notifications</mat-icon>
        </button>
        <button mat-mini-fab class="text-white black-button">
            <mat-icon aria-hidden="false" aria-label="Profile Icon">person</mat-icon>
        </button>
    </div>
</div>
<div class="px-4">
    <mat-chip-list>
        <mat-chip
            *ngFor="let subpage of subpages"
            [selected]="subpage.selected"
            (click)="selectSubpage(subpage.name)"
        >
            {{ subpage.name }}
        </mat-chip>
    </mat-chip-list>
</div>
<div>
    <div *ngIf="selectedSubpage === getHomeSubpage().ALL" class="text-white">All page</div>
    <div *ngIf="selectedSubpage === getHomeSubpage().MUSIC" class="text-white">Music page</div>
    <div *ngIf="selectedSubpage === getHomeSubpage().PODCASTS" class="text-white">Podcasts page</div>
    <div *ngIf="selectedSubpage === getHomeSubpage().AUDIOBOOKS" class="text-white">Audiobooks page</div>
</div>
<div>
    <app-cover></app-cover>
</div>

