<div>
    <button mat-mini-fab>
        <mat-icon aria-hidden="false" aria-label="Previous Page Icon">arrow_back_ios</mat-icon>
    </button>
    <button mat-mini-fab>
        <mat-icon aria-hidden="false" aria-label="Next Page Icon">arrow_forward_ios</mat-icon>
    </button>
    <button mat-flat-button color="accent">Explore Premium</button>
    <button mat-flat-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Install Icon">download</mat-icon>
        <span>Install Apps</span>
    </button>
</div>
<mat-chip-list>
    <mat-chip>All</mat-chip>
    <mat-chip>Music</mat-chip>
    <mat-chip>Podcasts</mat-chip>
    <mat-chip>Audiobooks</mat-chip>
</mat-chip-list>
