<div class="text-center mx-4">
    <div>
        <button mat-icon-button class="text-white">
            <mat-icon aria-hidden="false" aria-label="Shuffle Icon">shuffle</mat-icon>
        </button>
        <button mat-icon-button class="text-white">
            <mat-icon aria-hidden="false" aria-label="Previous Track Icon">skip_previous</mat-icon>
        </button>
        <button mat-icon-button class="text-white">
            <mat-icon aria-hidden="false" aria-label="Shuffle Icon">pause_circle</mat-icon>
        </button>
        <button mat-icon-button class="text-white">
            <mat-icon aria-hidden="false" aria-label="Shuffle Icon">skip_next</mat-icon>
        </button>
        <button mat-icon-button class="text-white">
            <mat-icon aria-hidden="false" aria-label="Shuffle Icon">repeat</mat-icon>
        </button>
    </div>
    <div>
        <span class="text-white">0:03</span>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <span class="text-white">3:00</span>
    </div>
</div>
