/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* Color Constants */
$black-color: #000000;
$dark-gray-color: #121212;
$white-color: #FFFFFF;

/* Global Styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $black-color;}

/* Global classes */
.dashboard-tile {
    background-color: $dark-gray-color;
    border-radius: 10px;
}
.title-icon {
    transform: scale(1.2);
}
